body {
  background-color: #add8e6; /* Light Blue */
  font-family: Palatino, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333; /* Dark text for contrast */
  padding-top: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  color: #333; /* Dark text color for readability */
}

.dropdown-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

select {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
}
